.qui-tag__root {
  align-items: center;
  background-color: transparent;
  border-radius: var(--border-radius-md);
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font: var(--font-static-body-xs-default);
  gap: var(--spacing-50);
  max-height: var(--tag-size);
  min-height: var(--tag-size);
  outline: none;
  padding: 0 var(--spacing-70);

  --tag-size: var(--sizing-90);

  &[data-radius="rounded"] {
    border-radius: var(--border-radius-rounded);
  }

  &[data-size="sm"] {
    --tag-size: var(--sizing-80);
  }
  &[data-size="lg"] {
    --tag-size: var(--sizing-100);
    font: var(--font-static-body-sm-default);
    padding: 0 var(--spacing-80);
  }
}

/* Colors and variants */
.qui-tag__root {
  border: solid 1px var(--color-interactive-border-neutral-idle);
  --icon-color: inherit;

  &[data-variant="link"] {
    &:hover {
      text-decoration: underline;
    }
  }

  &[data-emphasis="outline-brand"] {
    background: var(--color-interactive-background-ghost-idle);
    color: var(--color-interactive-text-primary-idle);

    &:hover {
      background: var(--color-interactive-background-ghost-hover);
      color: var(--color-interactive-text-primary-hover);
    }

    &:active {
      background: var(--color-interactive-background-ghost-pressed);
      color: var(--color-interactive-text-primary-pressed);
    }

    &[data-selected] {
      background: var(--color-background-brand-primary);
      border-color: var(--color-background-brand-primary);
      color: var(--color-utility-persistent-white);
    }
  }

  &[data-emphasis="outline-neutral"] {
    background: var(--color-interactive-background-ghost-idle);
    color: var(--color-text-neutral-primary);

    &:hover {
      background: var(--color-interactive-background-ghost-hover);
    }

    &:active {
      background: var(--color-interactive-background-ghost-pressed);
    }

    &[data-selected] {
      background: var(--color-background-support-neutral);
    }
  }

  &[data-emphasis="neutral"] {
    background: var(--color-background-support-neutral-subtle);

    &:hover {
      background: var(--color-interactive-background-ghost-hover);
    }

    &:active {
      background: var(--color-interactive-background-ghost-pressed);
    }

    &[data-selected] {
      background: var(--color-interactive-background-neutral-idle);
    }
  }

  &[data-emphasis="blue"] {
    background: var(--color-category-blue-subtle);
    border-color: var(--color-category-blue-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-blue-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-blue-subtle);
    }

    &[data-selected] {
      background: var(--color-category-blue-strong);
      border-color: var(--color-category-blue-strong);
    }
  }

  &[data-emphasis="cyan"] {
    background: var(--color-category-cyan-subtle);
    border-color: var(--color-category-cyan-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-cyan-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-cyan-subtle);
    }

    &[data-selected] {
      background: var(--color-category-cyan-strong);
      border-color: var(--color-category-cyan-strong);
    }
  }

  &[data-emphasis="teal"] {
    background: var(--color-category-teal-subtle);
    border-color: var(--color-category-teal-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-teal-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-teal-subtle);
    }

    &[data-selected] {
      background: var(--color-category-teal-strong);
      border-color: var(--color-category-teal-strong);
    }
  }

  &[data-emphasis="green"] {
    background: var(--color-category-green-subtle);
    border-color: var(--color-category-green-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-green-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-green-subtle);
    }

    &[data-selected] {
      background: var(--color-category-green-strong);
      border-color: var(--color-category-green-strong);
    }
  }

  &[data-emphasis="kiwi"] {
    background: var(--color-category-kiwi-subtle);
    border-color: var(--color-category-kiwi-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-kiwi-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-kiwi-subtle);
    }

    &[data-selected] {
      background: var(--color-category-kiwi-strong);
      border-color: var(--color-category-kiwi-strong);
    }
  }

  &[data-emphasis="yellow"] {
    background: var(--color-category-yellow-subtle);
    border-color: var(--color-category-yellow-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-yellow-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-yellow-subtle);
    }

    &[data-selected] {
      background: var(--color-category-yellow-strong);
      border-color: var(--color-category-yellow-strong);
      color: var(--color-utility-persistent-black);
    }
  }

  &[data-emphasis="orange"] {
    background: var(--color-category-orange-subtle);
    border-color: var(--color-category-orange-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-orange-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-orange-subtle);
    }

    &[data-selected] {
      background: var(--color-category-orange-strong);
      border-color: var(--color-category-orange-strong);
    }
  }

  &[data-emphasis="red"] {
    background: var(--color-category-red-subtle);
    border-color: var(--color-category-red-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-red-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-red-subtle);
    }

    &[data-selected] {
      background: var(--color-category-red-strong);
      border-color: var(--color-category-red-strong);
    }
  }

  &[data-emphasis="magenta"] {
    background: var(--color-category-magenta-subtle);
    border-color: var(--color-category-magenta-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-magenta-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-magenta-subtle);
    }

    &[data-selected] {
      background: var(--color-category-magenta-strong);
      border-color: var(--color-category-magenta-strong);
    }
  }

  &[data-emphasis="purple"] {
    background: var(--color-category-purple-subtle);
    border-color: var(--color-category-purple-medium);

    &:hover {
      background:
        linear-gradient(var(--color-interactive-background-ghost-hover) 0 0),
        var(--color-category-purple-subtle);
    }

    &:active {
      background:
        linear-gradient(var(--color-interactive-background-ghost-pressed) 0 0),
        var(--color-category-purple-subtle);
    }

    &[data-selected] {
      background: var(--color-category-purple-strong);
      border-color: var(--color-category-purple-strong);
    }
  }

  &[data-selected] {
    color: var(--color-utility-persistent-white);
  }

  &:focus-visible {
    border-color: var(--color-utility-focus-border);
    outline: solid 2px var(--color-utility-focus-border);
    outline-offset: -1px;
  }

  &[data-scope][data-disabled] {
    &:not([data-emphasis^="outline-"]) {
      background: var(--color-utility-disabled-background);
    }
    border-color: var(--color-utility-disabled-border);
    color: var(--color-utility-disabled-text);
    cursor: default;
    --icon-color: var(--color-utility-disabled-icon);
  }
}

.qui-tag__icon {
  color: var(--icon-color);
  &[data-scope="tag"][data-size] {
    --icon-size: var(--sizing-60);
  }
  &[data-scope="tag"][data-size="lg"] {
    --icon-size: var(--sizing-70);
  }
}
