.qui-method-button {
  min-width: 90px;

  &.q-teal {
    background-color: var(--q-teal-500);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--q-teal-600);
    }
  }

  &.q-purple {
    background-color: var(--q-purple-500);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--q-purple-600);
    }
  }

  &.q-kiwi {
    background-color: var(--q-kiwi-500);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--q-kiwi-600);
    }
  }

  &.q-orange {
    background-color: var(--q-orange-400);
    &:hover {
      transition: background-color 161ms ease;
      background-color: var(--q-orange-500);
    }
  }
}
